anaTupleDef: AnaProd/anaTupleDef.py
analysis_import: Analysis.H_mumu
signal_types:
  - ggH
  - VBFH
  # - ttH
  # - VH
storeFatJets: False

bjet_preselection_branch : "Jet_B1"
tagger_name: particleNet
met_type: "PuppiMET"

channelSelection:
  - muMu

channelDefinition:
  eTau: 13
  muTau: 23
  tauTau: 33
  eE: 11
  eMu: 12
  muMu: 22

corrections:
  # - JEC
  - JER
  - trg
  # - btagWP
  - mu
  - Vpt
  - pu

region: All
region_default: All

# keeping the same naming covention as Stephens prev analysis
QCDRegions:
  - Z_sideband
  - Signal_Fit
  - Signal_ext
  - H_sideband

ApplyBweight: False
triggers:
  muMu: [singleMu]
hist_triggers:
  muMu:
    default:  (HLT_singleMu)

categories:
  - baseline
  - VBF
  - ggH
  - VBF_JetVeto
  - ggH_JetVeto

category_definition:
  # main categories
  baseline:      "OS && (mu1_pt > {MuPtTh} && mu2_pt > {MuPtTh})"
  VBF_def:       "HasVBF && j1_pt > 25 && j2_pt >25"
  VBF:           "baseline && VBF_def"
  ggH:           "baseline && !(VBF_def)"

  # temporary jetâ€veto subcategoriesa
  VBF_JetVeto_def: >
    VBF_def
    && (
         (abs(j1_eta) < 2.5 || abs(j1_eta) > 3 || j1_pt > 50)
      && (abs(j2_eta) < 2.5 || abs(j2_eta) > 3 || j2_pt > 50)
       )
  VBF_JetVeto:   "baseline && VBF_JetVeto_def"
  ggH_JetVeto:   "baseline && !VBF_JetVeto_def"

  # QCDs control and signal regions by dimuon mass 
  Z_sideband:   >
    baseline
    && mumu_mass > 70
    && mumu_mass < 110

  Signal_Fit:   >
    baseline
    && mumu_mass > 115
    && mumu_mass < 135

  H_sideband:   >
    baseline
    && (
         (mumu_mass > 110 && mumu_mass < 115)
      || (mumu_mass > 135 && mumu_mass < 150)
       )

  Signal_ext:   >
    baseline
    && mumu_mass > 110
    && mumu_mass < 150

singleMu_th:
  "Run2_2016":      26
  "Run2_2016_HIPM": 26
  "Run2_2017":      29
  "Run2_2018":      26
  "Run3_2022":      26
  "Run3_2022EE":    26

scales:
  - Up
  - Down

sample_types_to_merge:
  - DY
  - TT
  - W
  - VVV
  - VV
  - ttH
  # - ST
  # - TTVV
