anaTupleDef: AnaProd/anaTupleDef.py
histTupleDef: Analysis/histTupleDef.py
analysis_import: Analysis.H_mumu
phys_model: BaseModel
signal_types:
  - ggH
  - VBFH
#  - ttH
#  - VH

storeFatJets: False
met_type: "PuppiMET"

treeName: "Events"
channelSelection:
  - muMu

channelDefinition:
  eTau: 13
  muTau: 23
  tauTau: 33
  eE: 11
  eMu: 12
  muMu: 22

region: All
region_default: All
custom_regions: MuMuMassRegions
custom_categories: ""
custom_subcategories: [ ]

further_cuts: { }
#  etamm_0p9: ["eta_mumu","abs(eta_mumu) < 0.9"]
#  etamm_1p4: ["eta_mumu","abs(eta_mumu) >= 0.9 && abs(eta_mumu) < 1.4"]
#  etamm_2p4: ["eta_mumu","abs(eta_mumu) >= 1.4 && abs(eta_mumu) < 2.4"]
#  etamm_above2p4: ["eta_mumu","abs(eta_mumu) > 2.4"]
#  inclusive: [["eta_mumu"],"abs(eta_mumu) >= 0."]
#  # Inclusive
#  inclusive_etainclusive: [["mu1_pt"], "mu1_pt >= 0."]
#  inclusive_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  inclusive_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  inclusive_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  inclusive_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  inclusive_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  inclusive_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  inclusive_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  inclusive_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  inclusive_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 0. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]

# #  # pT < 26
#  leading_mu_pt_upto26_etainclusive: [["mu1_pt"], "mu1_pt < 26."]
#  leading_mu_pt_upto26_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_upto26_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_upto26_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_upto26_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_upto26_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_upto26_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_upto26_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_upto26_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_upto26_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 26. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]

#  leading_mu_pt_26to45_etainclusive: [["mu1_pt"], "mu1_pt >= 26 && mu1_pt < 45"]
#  leading_mu_pt_26to45_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_26to45_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_26to45_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_26to45_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_26to45_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_26to45_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_26to45_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_26to45_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_26to45_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 26 && mu1_pt < 45. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
# #  # pT < 45
#  leading_mu_pt_upto45_etainclusive: [["mu1_pt"], "mu1_pt < 45."]
#  leading_mu_pt_upto45_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_upto45_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_upto45_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_upto45_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_upto45_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_upto45_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_upto45_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_upto45_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_upto45_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt < 45. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]

# #  45 ≤ pT < 52
#  leading_mu_pt_45to52_etainclusive: [["mu1_pt"], "mu1_pt >= 45. && mu1_pt < 52"]
#  leading_mu_pt_45to52_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_45to52_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_45to52_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_45to52_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_45to52_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_45to52_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_45to52_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_45to52_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_45to52_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 45. && mu1_pt < 52. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]

#  # 52 ≤ pT < 62
#  leading_mu_pt_52to62_etainclusive: [["mu1_pt"], "mu1_pt >= 52. && mu1_pt < 62. "]
#  leading_mu_pt_52to62_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_52to62_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_52to62_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_52to62_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_52to62_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_52to62_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_52to62_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_52to62_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_52to62_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 52. && mu1_pt < 62. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]

# #  # pT ≥ 62
#  leading_mu_pt_above62_etainclusive: [["mu1_pt"], "mu1_pt >= 62."]
#  leading_mu_pt_above62_BB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)<0.9 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_above62_BO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_above62_BE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)<0.9 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_above62_OB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_above62_OO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_above62_OE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)>=0.9 && abs(mu1_eta)<1.8 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]
#  leading_mu_pt_above62_EB: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)<0.9"]
#  leading_mu_pt_above62_EO: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=0.9 && abs(mu2_eta)<1.8"]
#  leading_mu_pt_above62_EE: [["mu1_pt", "mu1_eta", "mu2_eta"], "mu1_pt >= 62. && abs(mu1_eta)>=1.8 && abs(mu1_eta)<2.4 && abs(mu2_eta)>=1.8 && abs(mu2_eta)<2.4"]


MuMuMassRegions:  ### ALL same w.r.t. Run 2 ###
  Z_sideband: "m_mumu > 70 && m_mumu < 110"
  Signal_Fit: "m_mumu > 115 && m_mumu < 135"
  H_sideband: "((m_mumu > 110 && m_mumu < 115) || (m_mumu > 135 && m_mumu < 150))"
  Signal_ext: "m_mumu > 110 && m_mumu < 150"
  mass_inclusive: "m_mumu > 60 && m_mumu < 150"
  # mass_inclusive: "true"

triggers:
  muMu: [ singleMu ]
hist_triggers:
  muMu:
    default: (HLT_singleMu)

singleMu_th:
  Run2_2016: 26
  Run2_2016_HIPM: 26
  Run2_2017: 29
  Run2_2018: 26
  Run3_2022: 26
  Run3_2022EE: 26
  Run3_2023: 26
  Run3_2023BPix: 26

categories:
  # - baseline_MuonPOG
  - no_cuts
  - baseline_WPIso_MM # baseline_WPIso_ML
  - OS_sel
  - trigger_sel
  - baseline_muonJet
  - VBF_def
  - VBF_JetVeto
  - ggH
  - ggH_muonPtSel
  - baseline_muonJet_0J
  - baseline_muonJet_1J
  - baseline_muonJet_2J
  - VBF_def_2J
  - VBF_JetVeto_2J
  - ggH_2J
  - baseline_muonJet_MoreThan2J
  - VBF_def_MoreThan2J
  - VBF_JetVeto_MoreThan2J
  - ggH_MoreThan2J



# muons pT choice options:
#   pt = ScaRe corrected pT, can be either nano or BSC according on which pT has been used for scare application;
#   pt_nano = pT from nanoAOD without scale and resol;
#   bsConstrainedPt: BSC pT without scale and resol;
#   pt_roccor: pT with RoccoR corrections applied, can be either nano or BSC according on which pT has been used for Rocccor application; not yet implemented

muon_pt_for_presel: "bsConstrainedPt"
mu_pt_for_triggerMatchingAndSF: "bsConstrainedPt"
mu_pt_for_selection: "pt"

mu_pt_for_definitions: "corr" # here options are different: corr, nano, bsConstrainedPt, roccor
muonID_WP_for_triggerSF: "Medium" # only medium or tight for trigger SF, both iso and ID
muIDWP: "Medium"
muIsoWP: "Loose"
WP_to_use: "MM"

category_definition:
  no_cuts: "true"
  baseline_WPIso_MM: "mu1_pfRelIso04_all < 0.2 &&  mu2_pfRelIso04_all< 0.2 && mu1_mediumId && mu2_mediumId"
  baseline_WPIso_ML: "mu1_pfRelIso04_all < 0.25 &&  mu2_pfRelIso04_all< 0.25 && mu1_mediumId && mu2_mediumId"
  OS_sel: "baseline_WPIso_{WP_to_use} && OS"
  trigger_sel: "( (mu1_{mu_pt_for_selection} > {MuPtTh} && mu1_HasMatching_singleMu) || (mu2_{mu_pt_for_selection} > {MuPtTh} && mu2_HasMatching_singleMu) )"
  # trigger_sel_withDiMuon: "trigger_sel || ( (mu1_{mu_pt_for_selection} > 19 && mu1_HasMatching_diMu) && (mu2_{mu_pt_for_selection} > 10 && mu2_HasMatching_diMu) )"
  baseline_muonJet: "OS_sel && trigger_sel && JetTagSel" # &&  abs(mu1_dz) < 1. && abs(mu1_dxy) < 0.5 && abs(mu2_dz) < 1. && abs(mu2_dxy) < 0.5"
  VBF_def: "baseline_muonJet && HasVBF"
  VBF_JetVeto: "VBF_def && j1_pt >= 35 && j2_pt >= 25 "
  ggH_muonPtSel: "baseline_muonJet && !(VBF_JetVeto) && mu1_{mu_pt_for_selection} > {MuPtTh} && mu2_{mu_pt_for_selection}>{MuPtTh}"
  ggH: "baseline_muonJet && !(VBF_JetVeto)"
  #### 0 jets
  baseline_muonJet_0J: "baseline_muonJet && N_SelectedJets == 0"
  #### 1 jets
  baseline_muonJet_1J: "baseline_muonJet && N_SelectedJets == 1"
  #### 2 jets
  baseline_muonJet_2J: "baseline_muonJet && N_SelectedJets == 2"
  VBF_def_2J: "baseline_muonJet_2J && HasVBF"
  VBF_JetVeto_2J: "VBF_def && j1_pt >= 35 && j2_pt >= 25 "
  ggH_2J: "baseline_muonJet_2J && !(VBF_JetVeto_2J)"
  #### ≥2 jets
  baseline_muonJet_MoreThan2J: "baseline_muonJet && N_SelectedJets >= 2"
  VBF_def_MoreThan2J: "baseline_muonJet_MoreThan2J && HasVBF"
  VBF_JetVeto_MoreThan2J: "VBF_def && j1_pt >= 35 && j2_pt >= 25 "
  ggH_MoreThan2J: "baseline_muonJet_MoreThan2J && !(VBF_JetVeto_MoreThan2J)"
  baseline_MuonPOG: "OS_sel && trigger_sel && mu1_pfRelIso04_all < 0.15 && mu2_pfRelIso04_all< 0.15 && mu1_tightId && mu2_tightId && mu1_{mu_pt_for_selection} > {MuPtTh} && mu2_{mu_pt_for_selection}>{MuPtTh}"

# category_definition:
#   #### COMPARISON WITH RUN 2 ####
#   #  the baseline selection requires OS -- > Opposite Sign of muons charge (as in Run2, obv), and either the first or the second muon matching the online object and passing the pT threshold driven by the trigger (which is always 26 GeV in Run3 up to now) -- See AN/2019_185 lines 123 - 130
#   no_cuts: "true"
#   OS_sel: "OS"

#   trigger_sel: "( (mu1_pt > {MuPtTh} && mu1_HasMatching_singleMu) || (mu2_pt > {MuPtTh} && mu2_HasMatching_singleMu) )"
#   baseline_muon: "OS_sel && trigger_sel &&  abs(mu1_dz) < 1. && abs(mu1_dxy) < 0.5 && abs(mu2_dz) < 1. && abs(mu2_dxy) < 0.5"
#   baseline_MuonPOG: "baseline_muon && mu1_pfRelIso04_all < 0.15 && mu1_pfIsoId >=4 && mu2_pfIsoId >= 4 && mu2_pfRelIso04_all< 0.15 && mu1_tightId && mu2_tightId && mu1_pt > 26 && mu2_pt>26"
#   baseline_muonJet: "baseline_muon && JetTagSel"
#   #### COMPARISON WITH RUN 2 ####
#   #  VBF category and def is the same w.r.t run 2
#   VBF_def: "baseline_muonJet && HasVBF"
#   VBF: "VBF_def && j1_pt >= 35 && j2_pt >= 25 "
#   #  ggH category is "just" not ttH and VBF. There are no other exclusions w.r.t other channels.
#   ggH: "baseline_muonJet && !(VBF)"
#   #### COMPARISON WITH RUN 2 ####
#   #  VBF category and def is the same w.r.t run 2
#   #  ggH category is "just" not ttH and VBF. There are no other exclusions w.r.t other channels.
#   #  This is only introduced for Run3 jet horn issue!!
#   #  https://gitlab.cern.ch/cms-jetmet/coordination/coordination/-/issues/113 --> data/MC differences in Jet distributions
#   #  spikes are pT dependent, increasing the pT threshold to 50 GeV let them disappear, but reduces significantly the analysis sensitivity
#   #  non-physics dependent, but related to Jet Energy Correction and Scale
#   HornJetVeto_def: "((abs(j1_eta) < 2.5 || abs(j1_eta) > 3 || j1_pt > 50) && (abs(j2_eta) < 2.5 || abs(j2_eta) > 3 || j2_pt > 50))"
#   VBF_JetVeto: "VBF && HornJetVeto_def"

# DIFFERENCES WITH RUN2:
# - muon baseline pT cut (before requiring eventual matching to the trigger object) 20 --> 10 GeV
# - FSR photon recovery for muons NOT YET INCLUDED
# - b-jet tagging: In Run2, the DeepCSV Algorithm was used (see AN/2019_185 lines 106 - 112 ). In Run3 the ParticleNet is recommended in place of DeepCSV/DeepJet
# - Jet PUID is no longer used in Run3 (see AnaProd/baseline.py)
# - in Run2 there was not this JetVetoMap for or at least it's not described in the AN.
# - no jet veto for jet horn spikes in Run 2
# - VBF Jets selection compared to Run2. It is the same selection, but since there could be MORE than one jet pair, the one with highest invariant mass is excluded, keeping the DeltaEta threshold fixed to 2.5

corrections:
  mu:
    stage: HistTuple
    columns:
      pfRelIso04_all: pfRelIso04_all
      tightId: tightId
      tkRelIso: tkRelIso
      highPtId: highPtId
      mediumId: mediumId
      looseId: looseId
      p4: p4_bsConstrainedPt # p4_pt_nano
  trigger:
    stage: HistTuple
    mode: SF
  muScaRe:
    stage: HistTuple # later it will become anaTuple.
    mu_pt_for_ScaReApplication: "bsConstrainedPt"
  MC_Lumi_pu: { stage: AnaTuple }
  pu: { stages: [ AnaCache, AnaTuple ] }
  JEC: { stage: AnaTuple }
  JER:
    stage: AnaTuple
    apply_jet_horns_fix: true

scales:
  - Up
  - Down

ApplyBweight: False

payload_producers:
  DNN:
    producers_module_name: Analysis.DNN_Application
    producer_name: DNNProducer
    columns:
      - NNOutput
    n_cpus: 4
    max_runtime: 2.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
    dependencies: [ ]
